{% extends 'home/navbar.html' %}
{% block main_section %}
   <div class="container">
      <div class="card-deck mb-3 text-center" style="margin-top: 20px;">
        <div class="card mb-4 shadow-sm" style="background-color: #D6D0B9;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><ya-tr-span data-index="0-0" data-value="Free" data-translation="Бесплатно" data-type="trSpan">Эконом</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="1-0" data-value="$0 " data-translation="$0 " data-type="trSpan">10000 рублей</ya-tr-span><small class="text-muted"><ya-tr-span data-index="1-0" data-value="/ mo" data-translation="/ mo" data-type="trSpan"></ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="2-0" data-value="10 users included" data-translation="Включено 10 пользователей" data-type="trSpan">Съёмка свадебного дня (до 12 часов)</ya-tr-span></li>
              <li><ya-tr-span data-index="3-0" data-value="2 GB of storage" data-translation="2 ГБ памяти" data-type="trSpan">Качество fullHD</ya-tr-span></li>
              <li><ya-tr-span data-index="4-0" data-value="Email support" data-translation="Поддержка электронной почты" data-type="trSpan">Один оператор</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Свадебный клип 2-4 минуты</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Все исходные материалы</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">-</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">-</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">-</ya-tr-span></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm" style="background-color: #D6D0B9;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><ya-tr-span data-index="7-0" data-value="Pro" data-translation="Профессиональный" data-type="trSpan">Стандартный</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="8-0" data-value="$15 " data-translation="$15 " data-type="trSpan">15000 рублей</ya-tr-span><small class="text-muted"><ya-tr-span data-index="8-0" data-value="/ mo" data-translation="/ mo" data-type="trSpan"></ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="2-0" data-value="10 users included" data-translation="Включено 10 пользователей" data-type="trSpan">Съёмка свадебного дня (до 12 часов)</ya-tr-span></li>
              <li><ya-tr-span data-index="3-0" data-value="2 GB of storage" data-translation="2 ГБ памяти" data-type="trSpan">Качество fullHD</ya-tr-span></li>
              <li><ya-tr-span data-index="4-0" data-value="Email support" data-translation="Поддержка электронной почты" data-type="trSpan">Один оператор</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Свадебный клип 2-4 минуты</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Все исходные материалы</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Свадебный фильм (от 30 минут)</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Тизер для Инстаграма</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">-</ya-tr-span></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm" style="background-color: #D6D0B9;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><ya-tr-span data-index="14-0" data-value="Enterprise" data-translation="Предприятие" data-type="trSpan">Премиум</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="15-0" data-value="$29 " data-translation="$29 " data-type="trSpan">35000 рублей</ya-tr-span><small class="text-muted"><ya-tr-span data-index="15-0" data-value="/ mo" data-translation="/ mo" data-type="trSpan"></ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="2-0" data-value="10 users included" data-translation="Включено 10 пользователей" data-type="trSpan">Съёмка свадебного дня (до 12 часов)</ya-tr-span></li>
              <li><ya-tr-span data-index="3-0" data-value="2 GB of storage" data-translation="2 ГБ памяти" data-type="trSpan">Качество 4К</ya-tr-span></li>
              <li><ya-tr-span data-index="4-0" data-value="Email support" data-translation="Поддержка электронной почты" data-type="trSpan">Два оператора</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Свадебный клип 2-4 минуты</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Все исходные материалы</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Свадебный фильм (от 30 минут)</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Тизер для Инстаграма</ya-tr-span></li>
              <li><ya-tr-span data-index="5-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Аэросъёмка</ya-tr-span></li>
            </ul>
          </div>
        </div>
      </div>
   </div>


{% endblock main_section %}

{% block footer_section %}
{% endblock footer_section %}